body {
  font-family: "Nunito", sans-serif;
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #37a2e1 0%, #93d5ce 100%);
}

.container > .row {
  height: 100vh;
}

.card .card-title {
  text-align: center;
  padding: 15px 0;
}

.logo {
  text-align: center;
  padding: 30px 0;
}
.logo img {
  width: 100%;
  max-width: 100px;
  height: auto;
}

.form .form-group {
  margin-bottom: 35px;
}
.form .submit-button {
  text-align: center;
}

.generated-link h5 {
  text-align: center;
}
.generated-link .link {
  text-align: center;
  font-size: 26px;
  color: #37a2e1;
}

.error {
  text-align: center;
}
.error .status {
  color: #de1402;
  font-weight: 700;
  font-size: 72px;
  margin-bottom: 15px;
}

/*# sourceMappingURL=styles.css.map*/